.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.main-content {
  width: 80%;
  min-height: 100%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 4px 0 8px -4px rgba(136, 139, 145, 0.97), -4px 0 8px -4px rgba(136, 139, 145, 0.97);
}