.product {
    margin-bottom: 5rem;
    border: 1px solid #333;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 0.5rem 0.1rem #888888;
    min-width: 30rem;
    max-width: 30rem;
    min-height: 38rem;
    max-height: 38rem;
}

.product img {
    max-width: 20rem;
    max-height: 20rem;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    border-bottom: 1px solid #333;
    margin: 0 2rem 1rem 2rem;
}

.info-wrapper {
    padding: 0 1rem;
}

.info-wrapper h3 {
    font-size: 2.1rem;
    font-weight: 600;
}

.info-wrapper h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

.info-wrapper h4:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.star-ratings {
    display: flex;
    align-items: center;
    margin: 1rem 0 0.5rem 0;
}

.stars {
    color: #fabf26;
    transform: scale(.6, .6);
}

.price-part {
    display: flex;
    align-items: center;
}

.price-part h3 {
    margin-right: 0.5rem;
}

.price-part p {
    font-size: larger;
}