.header {
    width: 100%;
    height: 6.8rem;
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 27%;
}

.header-rightside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.link-deco {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
}

.link-deco:hover {
    opacity: 0.8;
    text-decoration: underline;
    transition: 150ms;
}